/* 
 * File Name				: basic_ie.css
 *
 * Author					: WIPRO
 *
 * Short Description		: 
 *
 * Created Date 			: 24-Mar-2014 11:25:13 AM
 *
 * Modification History	:	
 */


/* IE 6 hacks */
#simplemodal-container a.modalCloseImg {
	background: none;
	right: -14px;
	width: 22px;
	height: 26px;
	filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
		'img/basic/x.png', sizingMethod = 'scale' );
}